* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #29affc;
	padding: 10px;
	min-height: 100vh;
}

.title {
	color: white;
	font-size: 60px;
	text-align: center;
	margin-top: 20px;
}

.resultInfo > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	min-height: 100vh;
	background-color: #29affc;
	color: white;
	min-height: 100vh;
	text-align: center;
}
h1,
h2 {
	font-size: 40px;
}
h2 {
	font-size: 40px;
}
h3 {
	color: #000;
	font-size: 20px;
	margin: 30px 0 0 0;
}
span {
	color: #000;
}
.win-result {
	font-size: 60px;
	color: rgb(89, 255, 0);
	font-weight: 800;
}
.play-btn {
	padding: 10px 20px;
	font-weight: 800;
	background-color: rgb(152, 235, 28);
	box-shadow: 3px 2px 4px rgb(87, 142, 6);
	border: none;
	border-radius: 999px;
	font-size: large;
	text-decoration: none;
	color: #000;
	display: inline-block;
}
.play-btn:hover {
	transform: scale(0.95);
}
/* game */
#words-div {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;
	gap: 10px;
	background-color: #29affc;
	padding: 10px;
	width: 400px;
	margin: auto;
}

.letter {
	width: 50px;
	height: 50px;
	font-size: xx-large;
	background-color: rgb(255, 255, 255);
	padding: 10px;
	border: 1px solid gray;
	border-radius: 10px;
}
.letter:disabled {
	color: black;
}
.letter:focus {
	outline: none;
}

.yellow {
	background: yellow;
	transform: rotateY("180deg");
	transition: 1s;
}

@media (max-width: 420px) {
	.title {
		font-size: 40px;
		margin-top: 10px;
	}
	#words-div {
		width: 300px;
		gap: 5px;
	}
	.letter {
		width: 40px;
		height: 40px;
	}
}
